img {
    width: 100%;
}
body {
    font-family: 'Playfair Display', serif;
}

.mobile {
    width: 50%;
}

.desktop {
    width: 75%;
}

h1 {
    background-color: #40798c;
}

h2 {
    background-color: #70a9a1;
}