@media screen and (min-width:600px){

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .currentevents {
        grid-column: 1 / 2;
        text-align: center;
        border: 1px solid black;
        background-color: #c2c2c2;
        
    }

    .calltoaction {
        grid-column: 2/3;
        margin: 10%;
        padding: 10px;
        border: 1px solid black;
        margin-bottom: 20%;
        background-color: #70A9A1;
        
    }

    .weathercard {
        grid-column: 1/2;
        text-align: center;
        border: 1px solid black;
        background-color: #c2c2c2;
    }

    .companyads {
        grid-column: 2 / 3;
        text-align: center;
        border: 1px solid black;
        margin: -13%;
        margin-bottom: 13%;
        background-color: #8FBCCC;
    }

    #menu {
        display: none; /* hide hamburger button */
    }

    .navigationbar {
    list-style-type: none;
    text-align: left;
    margin-right: 50px;
    }

    .navigationbar:first-child li{
        display: inline;
        padding: 20px;
    }

    .navigationbar:first-child a:link {
        color:white;
    }

    .navigationbar:first-child a:visited {
        color:white;
    }

    .navigationbar:first-child a {
        text-decoration: none;   
    }

    .label p::before {
        content: "Medium";
    }

    .label {
        position: absolute;
        left: 5%;
        top: 5%;
        background-color: white;
        border: 1px solid rgba(0,0,0,.75);
        padding: 1rem;
        
    }
    
    .label p {
        font-size: 1.5rem;
    }

    .sidebar {
        grid-column: 1/2;
    }
    
    .gallery {
        grid-column: 2/3;
    }

    .galleryimg:hover {
       box-shadow: 0 0 50px #333;
    }

    #tymessage, #processed {
        grid-column: 1/3;
        padding: 1rem 1rem 0 1rem;
        text-align: center;
    }
}