@media screen and (min-width:600px)
{
    
    main {
        display: grid;
        grid-template-columns: auto auto;
    }

    #section1 {
        grid-column: 1/2;
        margin: 1rem;
    }

    #section2 {
        grid-column: 2/3;
        margin: 1rem;
    }

    .classtitle {
        grid-column: 1/3;
    }

    #menu {
		display: none;
	}

    .navigationbar {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    .navigationbar li{
        display: inline;
        float: left;
        background-color: #333;
    }

    .navigationbar li a{
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    iframe {
        padding-top: 10px;
        grid-column: 1/3;
      }

    
}